[submodule ".gopath/src/github.com/jessevdk/go-flags"]
	path = .gopath/src/github.com/jessevdk/go-flags
	url = https://github.com/jessevdk/go-flags
[submodule ".gopath/src/polydawn.net/pogo"]
	path = .gopath/src/polydawn.net/pogo
	url = https://github.com/polydawn/pogo
